<!-- main app container -->
<div class="Login_body"><div class="header"><div class="container-fluid">Demo<div class="user-info user_info_right">
        <ul class="nav navbar-nav pull-right" style="margin-top:5px;">
              
            <li><a (click)="logout()"><span class="glyphicon glyphicon-off signout-bg"></span>Logout</a></li>                  
            <li><a ng-href="https://www.google.com/" target="_blank" href="https://www.google.com/"><span class="glyphicon glyphicon-question-sign icon_bg"></span> Help</a></li>
          </ul>
    </div></div></div></div>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <nav class="navbar">
            <div class="collapse navbar-collapse">
            <a class="mdl-navigation__link" [routerLink]="['/home/homepage']">Dashbaord</a>
            <a class="mdl-navigation__link" [routerLink]="['/home/cats']">Service</a>
            <a class="mdl-navigation__link" [routerLink]="['/home/nextpage']">History</a>
            </div>
          </nav>
        </div>
      </header>      
    <router-outlet></router-outlet>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2016/09/29/angular-2-user-registration-and-login-example-tutorial" target="_top">Angular 2 User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>
